
.reduced-textarea {
    max-height: 130px;

}
.login-page form{
    margin: 2rem auto 1rem;
    max-width: 500px;
}
.leave-page {
    width: 100%;
    background: #f5f5f5;
    min-height: auto;
    padding-bottom: 0;
}
.leave-page .form-outer{
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
}
.stacked {
    float: none !important;
}

.stacked .selector-available, .stacked .selector-chosen {
    width: 280px;
}

