{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <p>
        Your account registation for {{ user.first_name}} was successful. <br>
        Note that you won't be able to access your account until verification is complete.<br><br>
        Please verify your account.<br>http:{{ domain }}{%url 'staff-verification' pk=staff.pk%}
    </p>  
</body>
</html>

{% endautoescape %}