{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}
Login
{% endblock title%}

{% block content %}
<div class="login-page">
<div class="form-outer text-center">
    <div class="form-inner">
        <div class="logo text-uppercase">
            <span>Please</span><strong class="text-primary"> Login</strong>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy}}
        
            <input type="submit" value="Login" name="" id="" class="btn btn-sm btn-primary" >
        </form>
    </div>
</div>
</div>
{% endblock content %}